@font-face {
    font-family: 'BebasNeue';
    src: url('../assets/fonts/BebasNeue.ttf') format('truetype');
}

@font-face {
    font-family: 'AwakenSteel';
    src: url('../assets/fonts/AWAKENNING\ STEEL\ Personal\ Use.ttf') format('truetype');
}

@font-face {
    font-family: 'Awaken';
    src: url('../assets/fonts/AWAKENNING\ Personal\ Use.ttf') format('truetype');
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

#homeContentDiv {
    display: flex;
    width: 65%;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.863);
    margin: auto;
    margin-top: 3%;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn 1s;
    -moz-animation: fadeIn 1s;
    -o-animation: fadeIn 1s;
    -ms-animation: fadeIn 1s;

}

#textHeader {
    font-style: italic;
    margin: 10px;
    font-size: 40px;
    color: white;
    text-decoration-line: underline;
    text-decoration-thickness: 5%;
    letter-spacing: 5px;
    font-family: 'AwakenSteel';
}

#sloganContent {
    font-size: 18px;
    color: white;
    margin-top: 10px;
    font-style: italic;
    font-family: 'Awaken';
    letter-spacing: 3px;

}

#textContent {
    font-family: 'BebasNeue';
    font-size: 20px;
    color: white;
    margin-top: 20px;
    max-width: 50%;
    letter-spacing: 4px;

}

#homeContentImage {
    margin-top: 10px;
    background-image: url('../assets/images/relax.jpg');
    width: 80%;
    height: 35vh;
    background-size: cover;
    border-radius: 8px;
}